

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.square {
  background: #3e3740;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game, .api-key {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  color: #fff;
}

.game-info {
  margin-left: 20px;
}

.root-container{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.list-item{
    margin-top: 4px;
}

.modal-offer-list{
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal-offer-list::-webkit-scrollbar {
  display: none;
}

.apikey-form{
    width: 100%;
    padding: 32px;
    color: #fff;
}

.apikey-input{
    color: #fff !important;
}
.apikey-input > fieldset{
    border-color: #fff;
}

#api-key-label{
    color: #fff;
}
